<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-label>Critical</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-label>Critical</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-label>Critical</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-label>Critical</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
